# Connect to Supabase via connection pooling
DATABASE_URL = "postgresql://postgres:[password]@localhost:[port]/[databasename]"
# Direct connection to the database. Used for migrations

PORT=3001
CORS_ORIGIN=http://localhost:3000
